<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Banking Analyser</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
</head>
<body>
	<h2>Run Import Batch Job</h2>
	<div class="row" ng-app="BatchTrigger" ng-controller="Batch">
		<div class="col-md-2">
			<button ng-click="triggerBatch()">Run Batch!</button>
			<p>{{ count }}</p>
		</div>
	</div> 
	<div class="row" ng-app="demo" ng-controller="Hello">
		<div class="col-md-2">
			<input type="text" placeholder="Search..." ng-model="firstname">
		</div>
		<div class="col-md-2">
			<p>The ID is {{greeting.id}}</p>
		</div>
		<div class="col-md-2">
			<p>The content is {{greeting.content}}</p>
		</div>
	</div>

	<script src="/webjars/angularjs/1.4.9/angular.js"></script>
	<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
	<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
	<script src="/js/hello.js"></script> 
	<script src="/js/batch.js"></script>
</body>
</html>